# Default behavior
* text=auto

# Repository files
.gitattributes text
.gitignore     text

# Project files
*.sln             text eol=crlf
*.vcproj          text eol=crlf
*.vcxproj         text eol=crlf
*.vcxproj.filters text eol=crlf
*.vcxproj.user    text eol=crlf

# Source files
*.h   text
*.cpp text

# Resource files
*.rc  text eol=crlf
*.ico binary

# Image files
*.bmp binary
*.jpg binary

# Other files
*.txt text
*.bat text eol=crlf
*.chm binary
*.bff binary
